<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title >Tom学习平台</title>
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="stylesheet" th:href="@{/login/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/login/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/login/css/AdminLTE.min.css}">
  <!-- AdminLTE Skins. Choose a skin from the css}/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" th:href="@{/login/css/all-skins.min.css}">
  <link rel="stylesheet" th:href="@{/login/css/main.css}">
  <![endif]-->

</head>
<body class="hold-transition login-page " >
<canvas id="fire" style="min-height: 600px">
</canvas>
<div class="login-box" id="rrapp" v-cloak  style="margin: auto;position: absolute;top: 100px;left: 37%;">
  <div class="login-logo">
    <b style="color: paleturquoise;">学习很简单 ~</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <p class="login-box-msg">请登录</p>
      <div v-if="error" class="alert alert-danger alert-dismissible">
        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{msg}}</h4>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="username" placeholder="账号">
        <span class="glyphicon glyphicon-user form-control-feedback norequired"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" v-model="password" @keyup.enter="login" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback norequired"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="captcha" @keyup.enter="login" placeholder="验证码">
        <span class="glyphicon glyphicon-warning-sign form-control-feedback norequired"></span>
      </div>
      <div class="form-group has-feedback">
        <img alt="如果看不清楚，请单击图片刷新！" class="pointer" :src="src" @click="refreshCode">
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="refreshCode">点击刷新</a>
      </div>
      
      
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="button" class="btn btn-danger btn-block btn-flat" @click="register">注册</button>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-primary btn-block btn-flat"  @click="login">登录</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- /.social-auth-links -->
      <div th:include="/frontend/sys_add_model :: up"></div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

    <script th:src="@{/login/fire.js}"></script>
    <script th:src="@{/login/jquery.min.js}"></script>
    <script th:src="@{/login/vue.min.js}"></script>
    <script th:src="@{/login/bootstrap.min.js}"></script>
    <script th:src="@{/login/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/login/fastclick.min.js}"></script>
    <script th:src="@{/login/app.js}"></script>
    <script th:src="@{/backend/common/tomValidate.js}"></script>


<script>
    var ctx = '[[@{/}]]';
    ctx = ctx.length > 1 ? ctx : "";
</script>
<script type="text/javascript">

 $(function () {
     $(".glyphicon").prev("input").each(function () {
         $(this).on('blur',function () {
             if(!$(this).val() && $(this).next("span")[0].className.indexOf("norequired") == -1 ){
                     $(this).css("border-color","#e73d4a");
             }else{
                 $(this).css("border-color","#d2d6de");
             }
         });
     });
 });

var vm = new Vue({
	el:'#rrapp',
	data:{
		username: '',
		password: '',
		mobile: '',
        realName: '',
		msgUname: '',
		msgMobile: '',
		msgMemo: '',
		msgUpwd: '',
		msgUUpwd: '',
		msgRealname: '',
		memo: '',
		captcha: '',
        uname: '',
        upwd: '',
        uupwd: '',
		error: false,
		msg: '',
		src: ctx + '/captcha.jpg'
	},
	beforeCreate: function(){
		if(self != top){
			top.location.href = self.location.href;
		}
	},
	methods: {
		refreshCode: function(){
			this.src = ctx + "/captcha.jpg?t=" + $.now();
		},
		login: function (event) {
			var data = "username="+vm.username+"&password="+vm.password+"&captcha="+vm.captcha;
			$.ajax({
				type: "POST",
			    url: ctx + "/login",
			    data: data ,
			    dataType: "json",
			    success: function(result){
					if(result.code == 0){//登录成功
						location.href = ctx + '/tom/user/index';
					}else{
						vm.error = true;
						vm.msg = result.msg;
						vm.refreshCode();
					}
				}
			});
		},
        register:function () {
            $('#Modal').modal();
        },
        addUser:function () {
		    var flag = true;
            var data = "username="+vm.uname+"&password="+vm.upwd+"&memo="+vm.memo+"&mobile="+vm.mobile
            +"&realName="+vm.realName;
            var all = $(".glyphicon");
            all.map(function () {
                var className =  $(this)[0].className;
                //获取用户输入的值
                var value = $(this).prev("input").val();
                //获取错误提示信息
                var msgValue = $(this).next("span").text();
                if(!value && className.indexOf("norequired") == -1 ){
                        $(this).prev("input").css("border-color","#e73d4a");
                        $("#h4").text("表单缺少必填项!");
                        flag = false;
                }else if(msgValue){
                    flag = false;
                    $("#h4").text("表单填写有误!");
                }
            });
            if(flag) {
                $.ajax({
                    type: "POST",
                    url: ctx + "/sys/addUser",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 0) {//注册成功
                            location.reload();
                        } else {
                            vm.error = true;
                            vm.msg = result.msg;
                        }
                    }
                });
            }
        },
        back:function () {
            $('#Modal').hide();
        },
        checkUname: () => {
		    if(!tomValidate.v(vm.uname,tomValidate.vobj.loginName)){
		        vm.msgUname  = '请输入4-8位的小写字母和数字的组合';
            }else{
                vm.msgUname = '';
            }
        },
        checkRealname: () => {
		    if(tomValidate.v(vm.realName,tomValidate.vobj.chinaName)){
		        vm.msgRealname  = '请输入纯中文';
            }else if(vm.realName.length>10){
                vm.msgRealname  = '不能超过十个汉字';
            }else{
                vm.msgRealname = '';
            }
        },
        checkMemo: () => {

		    if(vm.memo.length>200 && vm.memo){
		        vm.msgMemo  = '长度为200以内';
            }else{
                vm.msgMemo = '';
            }
        },
        checkUpwd: () => {
		    if(!tomValidate.v(vm.upwd,tomValidate.vobj.loginName)){
		        vm.msgUpwd  = '请输入4-8位的小写字母和数字的组合';
            }else{
                vm.msgUpwd = '';
            }
        },
        checkUUpwd: () => {
		    if(vm.upwd != vm.uupwd){
		        vm.msgUUpwd  = '两次密码不一致';
            }else{
                vm.msgUUpwd = '';
            }
        },
        checkMobile: () => {

		    if(!tomValidate.v(vm.mobile,tomValidate.vobj.mobile ) && vm.mobile){
		        vm.msgMobile  = '请输入正确手机号';
            }else{
                vm.msgMobile = '';
            }

        },
	}
});
</script>
</body>
</html>
