<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
    <link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet"
          type="text/css"/>
    <link th:href="@{/assets/global/css/common.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<section layout:fragment="content">
<div class="page-content-wrapper">
		<div class="page-content">
			
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a th:href="@{/tom/index}">首页</a>
						<i class="fa fa-angle-right"></i>
					<li>
账号管理
					</li>
				</ul>
			</div>

			<div class="portlet box grey-cararra">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-calendar"></i>账号管理数据列表
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-bordered table-hover" id="myTable">
					<thead>
					<tr>
                        <th>
                            注册时间
                        </th>
                        <th>
                            用户名
                        </th>
						<th>
                            真实姓名
						</th>
						<th>
                            手机
						</th>
						<th>
                            所属组织
						</th>
                        <th>
                            审核状态
                        </th>
						<th>
                            操作
						</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<link type="text/css" rel="stylesheet" th:href="@{/assets/global/plugins/select2/css/select2.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/global/plugins/select2/css/select2-bootstrap.min.css}" />
    <script type="text/javascript"  th:src="@{/assets/global/plugins/select2/js/select2.js}"></script>
    <script type="text/javascript"  th:src="@{/backend/registration/user_manage.js}"></script>
</section>
</body>
</html>