<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{backend/layouts/default}">

<body>
<section layout:fragment="content">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
                        <a th:href="@{/nmis/apply/}">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						公司信息
					</li>
				</ul>
			</div>

			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-red-sunglo"></i>
						<span class="caption-subject font-red-sunglo bold uppercase">公司信息</span>
						<span class="caption-helper" th:if="${status} eq '0'">未填写</span>
						<span class="caption-helper" th:if="${status} eq '1'">待审核</span>
						<span class="caption-helper" th:if="${status} eq '2'">审核通过</span>
						<span class="caption-helper" th:if="${status} eq '3'">审核未通过</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form  class="form-horizontal" id="form" onsubmit="return false">
						<div class="form-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											机构代码<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="orgCode" name="orgCode" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											机构名称<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="orgName" name="orgName" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											机构地址<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="address" name="address" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											法人代表<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="representative" name="representative" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											联系人<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="contact" name="contact" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											联系人电话<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="mobile" name="mobile" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											登记机关<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="issueDepart" name="issueDepart" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											注册资本<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="regCapital" name="regCapital" class="form-control-static"></p>
										</div>
									</div>
								</div>
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											经营范围<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="regScope" name="regScope" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											成立日期<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="issueDate" name="issueDate" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											公司类型<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<p id="orgType" name="orgType" class="form-control-static"></p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-3">
											附件<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-9">
											<a th:href="@{/nmis/api/apply/company/download}" id="attachment" name="attachment" class="form-control-static"></a>
										</div>
									</div>
								</div>
								<!--/span-->
							</div>
						</div>
						<div class="form-actions left">
							<input type="hidden" th:value="${userId}" id="userId" name="userId" />
						</div>
					</form>
                    <div th:replace="backend/pages/apply/public_modal :: modal_div">modal</div>
				</div>
                <p class="text-center">
					<a shiro:hasPermission="approve_ihos" th:if="${status} eq '1'" href="javascript:exam();" class="btn blue" id="yishenhe_button">点击审核</a>
                </p>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<script type="text/javascript"  th:src="@{/backend/apply/company.js}"></script>
</section>
</body>
</html>