<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{backend/layouts/default}">

<body>
<section layout:fragment="content">
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a th:href="@{/nmis/apply/}">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						互联网医院设备设施
					</li>
				</ul>
			</div>

			<div class="portlet light">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-red-sunglo"></i>
						<span class="caption-subject font-red-sunglo bold uppercase">互联网医院设备设施</span>
						<span class="caption-helper" th:if="${status} eq '0'">未填写</span>
						<span class="caption-helper" th:if="${status} eq '1'">待审核</span>
						<span class="caption-helper" th:if="${status} eq '2'">审核通过</span>
						<span class="caption-helper" th:if="${status} eq '3'">审核未通过</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form class="horizontal-form" id="form" onsubmit="return false">
						<div class="form-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否有数据访问控制系统:</label>
										<div class="col-md-6" style="text-align: center"><p id="controlBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											控制系统用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="controlManual" name="controlManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否与实体医疗机构数据交换与共享:</label>
										<div class="col-md-6" style="text-align: center"><p id="shareBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											数据交换与共享功能用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="shareManual" name="shareManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否有远程会诊功能:</label>
										<div class="col-md-6" style="text-align: center"><p id="teleconsultantBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											远程会诊功能用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="teleconsultantManual" name="teleconsultantManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否有远程门诊功能:</label>
										<div class="col-md-6" style="text-align: center"><p id="outpatientBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											远程门诊功能用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="outpatientManual" name="outpatientManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label  class="control-label col-md-6" >是否有远程病理功能:</label>
										<div class="col-md-6" style="text-align: center"><p id="pathologyBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											远程病理功能用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="pathologyManual" name="pathologyManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否有远程影像功能:</label>
										<div class="col-md-6" style="text-align: center"><p id="radiologyBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											远程影像功能用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="radiologyManual" name="radiologyManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否有远程心电功能:</label>
										<div class="col-md-6" style="text-align: center"><p id="ecgBool"></p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											远程心电功能用户手册<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="ecgManual" name="ecgManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6" >是否通过三级等保:</label>
										<div class="col-md-6" style="text-align: center"><p id="securityBool"> </p></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label col-md-6">
											三级等保评测文件<span class="required" aria-required="true">*</span>
										</label>
										<div class="col-md-6">
											<a th:href="@{/nmis/api/apply/registrationFacility/download}" id="securityManual" name="securityManual" class="form-control-static"></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-actions left">
							<input type="hidden" th:value="${userId}" id="userId" name="userId" />
						</div>
					</form>
					<div th:replace="backend/pages/apply/public_modal :: modal_div">modal</div>
				</div>
				<p class="text-center">
					<a shiro:hasPermission="approve_ihos" th:if="${status} eq '1'" href="javascript:exam();" class="btn blue" id="yishenhe_button">审核</a>
					<a shiro:hasPermission="approve_ihos" th:if="${status} eq '1'" th:href="@{/nmis/apply/}"  class="btn blue" id="yishenhe_button">返回</a>
				</p>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<script type="text/javascript"  th:src="@{/backend/apply/registration_facility.js}"></script>
</section>
</body>
</html>