<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
    <link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/common.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<section layout:fragment="content">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a th:href="@{/nmis/apply/}">首页</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        互联网医院执业医师申请
                    </li>
                </ul>
            </div>

            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase">互联网医院执业医师审核</span>
                        <span class="caption-helper" th:if="${status} eq '0'">未填写</span>
                        <span class="caption-helper" th:if="${status} eq '1'">待审核</span>
                        <span class="caption-helper" th:if="${status} eq '2'">审核通过</span>
                        <span class="caption-helper" th:if="${status} eq '3'">审核未通过</span>
                    </div>
                    <div class="actions">
                        <a shiro:hasAnyPermissions="apply_new_ihos,apply_second_name" th:if="${status} eq '0' or ${status} eq '1'" id="addBtn" name="btn_status" th:href="@{/nmis/apply/registration_doctor_add}" class="btn btn-info" value="">
                            <i class="fa fa-plus"></i> 新增</a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover order-column" id="MyTable">
                        <thead>
                        <tr>
                            <th> 姓名</th>
                            <th> 性别 </th>
                            <th> 民族 </th>
                            <th> 科室 </th>
                            <th> 专业职称 </th>
                            <th> 操作 </th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->

            <!-- 模态框 -->
            <div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" style="width:80%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title" id="tital">信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="margin-bottom-20 text-center ">
                                <h3><strong>执业医师信息</strong></h3>
                            </div>
                            <div class="row">
                                <table class="table table-bordered table-hover gtreetable gtreetable-fullAccess" >
                                    <tbody>
                                    <tr>
                                        <td class="text-center col-md-1" width="120px">
                                            <strong>姓名</strong>
                                        </td>
                                        <td id="name" class="myfont col-md-3">
                                            <!-- 姓名 -->
                                        </td>
                                        <td class="text-center col-md-1" width="120px">
                                            <strong>性别</strong>
                                        </td>
                                        <td id="gender" class="myfont col-md-2">
                                            <!-- 性别 -->
                                        </td>
                                        <td class="text-center col-md-1" width="120px">
                                            <strong>名族</strong>
                                        </td>
                                        <td id="ethnicity" class="myfont col-md-2">
                                            <!-- 名族 -->
                                        </td>
                                        <td class="text-center col-md-2" rowspan="8">
                                            <img id="photo" data-src="holder.js/200x270/text:no image" style="width: 180px; height: 270px; max-width: 180px; max-height: 270px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>证件类型</strong>
                                        </td>
                                        <td id="cardType" class="myfont">
                                            <!-- 证件类型 -->
                                        </td>
                                        <td class="text-center">
                                            <strong>证件号码</strong>
                                        </td>
                                        <td id="cardId" class="myfont" colspan="3">
                                            <!-- 证件号码 -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>通讯地址</strong>
                                        </td>
                                        <td id="address" class="myfont" colspan="5">
                                            <!-- 通讯地址 -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>联系电话</strong>
                                        </td>
                                        <td id="telephone" class="myfont">

                                        </td>
                                        <td class="text-center">
                                            <strong>联系手机</strong>
                                        </td>
                                        <td id="mobile" colspan="3" class="myfont">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>学历</strong>
                                        </td>
                                        <td id="education" class="myfont">

                                        </td>
                                        <td class="text-center">
                                            <strong>行政职务</strong>
                                        </td>
                                        <td id="positionalTitle" colspan="3" class="myfont">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>专业职称</strong>
                                        </td>
                                        <td id="professionalTitle" class="myfont">

                                        </td>
                                        <td class="text-center">
                                            <strong>科室</strong>
                                        </td>
                                        <td id="departId" colspan="3" class="myfont">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>资格证书编号</strong>
                                        </td>
                                        <td id="certificateId" class="myfont">

                                        </td>
                                        <td class="text-center">
                                            <strong>执业地点</strong>
                                        </td>
                                        <td id="workingPlace" class="myfont" colspan="3">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>执业类别</strong>
                                        </td>
                                        <td id="workingClass" class="myfont">

                                        </td>
                                        <td class="text-center">
                                            <strong>执业单位</strong>
                                        </td>
                                        <td id="workingOrg" class="myfont" colspan="3">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" colspan="1">
                                            <strong>执业范围</strong>
                                        </td>
                                        <td id="workingContent" colspan="6" height="50px" class="myfont">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" colspan="1">
                                            <strong>专业特长</strong>
                                        </td>
                                        <td id="skills" colspan="6" height="50px" class="myfont">

                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>个人简介</strong>
                                        </td>
                                        <td colspan="6" height="220px" style="word-wrap:break-word;word-break:normal ;">
                                            <pre id="introduction" class="td_pre myfont">   </pre>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <strong>签名</strong>
                                        </td>
                                        <td height="220px" colspan="7">
                                            <img id="signature" data-src="holder.js/270x200/text:no image" style="width: 275px; height: 195px; max-width: 275px; max-height: 195px;">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="backend/pages/apply/public_modal :: modal_div">modal</div>
            <!-- END PAGE CONTENT-->

            <input id="userId" type="hidden" th:value="${userId}">
            <input id="status" type="hidden" th:value="${status}">
            <input id="isSelf" type="hidden" th:value="1" shiro:hasAnyPermissions="apply_new_ihos,apply_second_name" th:if="${status} eq '0' or ${status} eq '1'">
            <p class="text-center">
                <a shiro:hasPermission="approve_ihos" th:if="${status} eq '1'" href="javascript:exam();" class="btn blue" id="yishenhe_button">审核</a>
                <a shiro:hasPermission="approve_ihos" th:href="@{'/nmis/apply/examine/detail/'+${userId}}" class="btn blue">返回</a>
                <a shiro:hasAnyPermissions="apply_new_ihos,apply_second_name" th:href="@{/nmis/apply/}" class="btn blue">返回</a>
            </p>


        </div>
    </div>
    <script type="text/javascript"  th:src="@{/backend/apply/registration_doctor_list.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/gender.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/education.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/ethnicity.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/positionalTitle.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/professionalTitle.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/cardType.js}"></script>
</section>
</body>
</html>