<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
	<link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet"
		  type="text/css"/>
	<link th:href="@{/assets/global/css/common.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<section layout:fragment="content">
	<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
		<div class="page-content">
			
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a th:href="@{/nmis/apply/}">首页</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						互联网医院执业医师申请
					</li>
				</ul>
			</div>

			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-equalizer font-red-sunglo"></i>
						<span class="caption-subject font-red-sunglo bold uppercase">互联网医院执业医师申请</span>
					</div>
				</div>
				<div class="portlet-body form">
					<form th:action="@{/nmis/api/registrationDoctor}" method="post" class="horizontal-form" id="doctorForm">
						<div class="form-body">
							<div class="margin-bottom-20 text-center ">
								<h3><strong>填写申请单</strong></h3>
							</div>
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label class="control-label"><strong>姓名</strong><span class="required" aria-required="true"> * </span></label>
												<input type="text" name="name" class="form-control" id="name">
											</div>
										</div>
										<!--/span-->
										<div class="col-md-3 col-sm-3">
											<div class="form-group">
												<label><strong>性别</strong><span class="required" aria-required="true"> * </span></label>
												<select id="gender" name="gender" class="form-control">
													<option></option>
												</select>
											</div>
										</div>
										<div class="col-md-3 col-sm-3">
											<div class="form-group">
												<label><strong>名族</strong><span class="required" aria-required="true"> * </span></label>
												<select id="ethnicity" name="ethnicity" class="form-control">
													<option></option>
												</select>
											</div>
										</div>
									</div>
									<!--/row-->
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label>证件类型</label>
												<select id="cardType" name="cardType" class="form-control">
													<option></option>
												</select>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label>证件号码</label>
												<input type="text" name="cardId" id="cardId" class="form-control" maxlength="18">
											</div>
										</div>
									</div>
									<!--/row-->
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label><strong>科室</strong><span class="required" aria-required="true"> * </span></label>
												<select id="departId" name="departId" class="form-control">
													<option value="2">www</option>
												</select>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label>专业职称</label>
												<select id="professionalTitle" name="professionalTitle" class="form-control">
													<option></option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label>行政职务</label>
												<select id="positionalTitle" name="positionalTitle" class="form-control">
													<option></option>
												</select>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label>学历</label>
												<select id="education" name="education" class="form-control">
													<option></option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12 col-sm-12">
											<div class="form-group">
												<label class="control-label">通讯地址</label>
												<input type="text" name="address" class="form-control" id="address">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label class="control-label">联系电话</label>
												<input type="text" name="telephone" class="form-control" id="telephone">
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="form-group">
												<label class="control-label">联系手机</label>
												<input type="text" name="mobile" class="form-control" id="mobile">
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
                                    <div class="row">
                                        <label class="control-label col-md-2">照片:</label>
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <div class="fileinput-new fileinput-preview thumbnail">
                                                    <img id="image-show" data-src="holder.js/200x270/text:no image" style="width: 180px; height: 270px; max-width: 180px; max-height: 270px;" title="建议照片宽高比例为5:7"/>
                                                </div>
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="input-group input-large">
                                                        <input id="cover-image" type="file" name="file" class="input-small">
                                                    </div>
                                                    <input id="photo" type="hidden" name="photo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
								</div>
							</div>



							<div class="row">
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label class="control-label"><strong>资格证书编号</strong><span class="required" aria-required="true"> * </span></label>
										<input type="text" name="certificateId" class="form-control" id="certificateId">
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label class="control-label">执业地点</label>
										<input type="text" name="workingPlace" class="form-control" id="working_place">
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label class="control-label">执业单位</label>
										<input type="text" name="workingOrg" class="form-control" id="working_org">
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<label class="control-label">执业类别</label>
										<input type="text" name="workingClass" class="form-control" id="working_class">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label>执业范围</label>
										<textarea name="workingContent" class="form-control" id="workingContent" wrap="hard" rows="5"></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label>专业特长</label>
										<textarea name="skills" class="form-control" id="skills" wrap="hard" rows="5"></textarea>
									</div>
								</div>
							</div>
							<!--/row-->
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
										<label>个人简介<!--<span class="required" aria-required="true"> * </span>--></label>
										<textarea name="introduction" class="form-control" wrap="hard" rows="3" maxlength="180"></textarea>
									</div>
								</div>
							</div>
                            <div class="row">
                                    <div class="form-group last pull-right">
                                        <label class="control-label col-md-2">签名:</label>
                                        <div class="col-md-6">
                                            <div class="fileinput-new fileinput-preview thumbnail">
                                                <img id="image-show2" data-src="holder.js/270x200/text:no image" style="width: 275px; height: 195px; max-width: 275px; max-height: 195px;" title="建议照片宽高比例为7:5"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group input-large">
                                                    <input id="cover-image2" type="file" name="file" class="input-small">
                                                </div>
                                                <input id="signature" type="hidden" name="signature">
                                            </div>
                                        </div>
                                    </div>
                            </div>
							<!--/row-->

							<input type="hidden" id="userId" name="userId" th:value="${userId}">
							<input id="status" type="hidden" th:value="${status}">
							<div class="form-actions right">
								<button type="submit" class="btn blue">
									<i class="fa fa-check"></i> 递交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
			<!-- END PAGE CONTENT-->
		</div>
	</div>
    <script type="text/javascript"  th:src="@{/backend/apply/registration_doctor_apply.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/gender.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/education.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/ethnicity.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/positionalTitle.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/professionalTitle.js}"></script>
    <script type="text/javascript"  th:src="@{/global/dictionary/cardType.js}"></script>
</section>
</body>
</html>