<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{backend/layouts/default}">

<head th:include="backend/layouts/default :: htmlhead" th:with="title='bsc'">
    <link th:href="@{/assets/global/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/global/css/common.css}" rel="stylesheet" type="text/css"/>
</head>

<body>
<section layout:fragment="content">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a th:href="@{/nmis/apply/}">首页</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        监管规则列表
                    </li>
                </ul>
            </div>

            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo bold uppercase"> 监管规则列表</span>
                    </div>
                    <div class="actions">
                        <a  href="javascript:;" onclick="add()" class="btn btn-info" value="">
                            <i class="fa fa-plus"></i> 新增</a>
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover order-column" id="MyTable">
                        <thead>
                        <tr>
                            <th> 规则组</th>
                            <th> 规则标题 </th>
                            <th> 规则说明 </th>
                            <th> 自动监管方法 </th>
                            <th> 是否生效 </th>
                            <th> 操作 </th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
            <!-- 添加模态框 -->
            <div id="addModal" style="display: none" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" style="width:80%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title" id="tital">add</h4>
                        </div>
                        <div class="portlet-body form">
                            <form id="formAdd" th:action="@{/nmis/supervise}" method="post" class="form-horizontal" onsubmit="return false" >
                                <div class="form-body">
                        <div class="modal-body">
                            <div class="margin-bottom-20 text-center ">
                                <h3><strong>添加监管规则</strong></h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">规则组<span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruleGroup" name="ruleGroup" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">规则标题<span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruleTitle" name="ruleTitle" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">规则说明</label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruleMemo" name="ruleMemo" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">自动监管方法</label>
                                        <div class="col-md-9">
                                            <input type="text" id="validator" name="validator" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">是否生效<span class="required" aria-required="true">*</span></label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="enabled" id="enabled" value="0"> 否
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="enabled" id="enabled" value="1" checked> 是
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                                <div class="form-actions left">
                                    <input type="hidden" th:value="${userId}" id="userId" name="userId" />
                                    <button  type="submit" class="btn blue">
                                        <i class="fa fa-check"></i> 递交</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 修改模态框 -->
            <div id="myModal" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" style="width:80%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title" id="tital">update</h4>
                        </div>
                        <div class="portlet-body form">
                        <form id="formUpdate" th:action="@{/nmis/supervise}" method="post" class="form-horizontal" onsubmit="return false" >
                            <div class="form-body">
                        <div class="modal-body">
                            <div class="margin-bottom-20 text-center ">
                                <h3><strong>修改监管规则</strong></h3>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">规则组<span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruleGroupUpdate" name="ruleGroup" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">规则标题<span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruleTitleUpdate" name="ruleTitle" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">规则说明</label>
                                        <div class="col-md-9">
                                            <input type="text" id="ruleMemoUpdate" name="ruleMemo" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">自动监管方法</label>
                                        <div class="col-md-9">
                                            <input type="text" id="validatorUpdate" name="validator" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">是否生效<span class="required" aria-required="true">*</span></label>
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="enabled" id="enabledUpdateFalse" value="0"> 否
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="enabled" id="enabledUpdateTrue" value="1" checked> 是
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                            <div class="form-actions left">
                                <input type="hidden"  id="id" name="id" />
                                <button  type="submit" class="btn blue">
                                    <i class="fa fa-check"></i> 递交</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <input id="userId" type="hidden" th:value="${userId}">
            <input id="status" type="hidden" th:value="${status}">


        </div>
    </div>
    <script type="text/javascript"  th:src="@{/backend/supervise/rule_list.js}"></script>
</section>
</body>
</html>