<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:fragment="sidebar-menu">

    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu  " id="sidebar-menu"
        data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <!-- END SIDEBAR TOGGLER BUTTON -->

        <!--<shiro:hasAnyRoles name="1">-->

        <li class="nav-item start">
            <a th:href="@{/tom/user/index}" class="nav-link nav-toggle">
                <i class="fa fa-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <shiro:hasPermission name="tom">
        <li class="nav-item start">
            <a th:href="@{/tom/user/manage}" class="nav-link nav-toggle">
                <i class="fa fa-user"></i>
                <span class="title">账号管理</span>
            </a>
        </li>
        </shiro:hasPermission>
        <li class="nav-item start">
            <a th:href="@{/tom/user/remember}" class="nav-link nav-toggle">
                <i class="fa fa-calendar"></i>
                <span class="title">备忘录</span>
            </a>
        </li>
        <shiro:hasPermission name="tom">
        <li class="nav-item start">
            <a th:href="@{/tom/user/sys}" class="nav-link nav-toggle">
                <i class="fa fa-cogs"></i>
                <span class="title">系统说明</span>
            </a>
        </li>
        </shiro:hasPermission>
        <shiro:hasAnyPermissions name="study,tom">
        <li class="nav-item ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-bar-chart"></i>
                <span class="title">学习</span>
                <span class="arrow"></span>
            </a>
        <ul class="sub-menu">
            <shiro:hasAnyPermissions name="tom,demo">
                <li class="nav-item start">
                    <a th:href="@{/tom/study/example}" class="nav-link nav-toggle">
                        <i class="fa fa-stack-overflow"></i>
                        <span class="title">各种Demo</span>
                    </a>
                </li>
            </shiro:hasAnyPermissions>
            <!--<shiro:hasAnyPermissions name="js_study,tom">
                <li class="nav-item">
                    <a th:href="@{/tom/study/js}" class="nav-link nav-toggle">
                        <i class="fa fa-database"></i>
                        <span class="title">Js学习</span>
                    </a>
                </li>
            </shiro:hasAnyPermissions>
            <shiro:hasAnyPermissions name="java_study,tom">
                <li class="nav-item">
            <a th:href="@{/tom/study/java}" class="nav-link nav-toggle">
            <i class="fa fa-user-md"></i>
            <span class="title">Java学习</span>
            </a>
            </li>
            </shiro:hasAnyPermissions>
            <shiro:hasAnyPermissions name="python_study,tom">
            <li class="nav-item">
                <a th:href="@{/tom/study/python}" class="nav-link nav-toggle">
                    <i class="fa fa-hospital-o"></i>
                    <span class="title">Python学习</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tom/study/else}" class="nav-link nav-toggle">
                    <i class="fa fa-hand-o-right"></i>
                    <span class="title">其他学习</span>
                </a>
            </li>-->
            <li class="nav-item">
                <a th:href="@{/tom/study/code}" class="nav-link nav-toggle">
                    <i class="fa fa-th-list"></i>
                    <span class="title">各种知识点</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/tom/study/mistake}" class="nav-link nav-toggle">
                    <i class="fa fa-hand-o-right"></i>
                    <span class="title">错误记录</span>
                </a>
            </li>
        </ul>
        </li>
        </shiro:hasAnyPermissions>

    </ul>

    <!-- END SIDEBAR MENU -->
    <script th:inline="javascript">
        var toggler = window.localStorage.getItem("toggler");
        if (toggler) {
            $("body").addClass("page-sidebar-closed");
            $("#sidebar-menu").addClass("page-sidebar-menu-closed");
        }
        jQuery(document).ready(function () {
        	String.prototype.startWith = function(s){
				if(s==null||s==""||this.length==0||s.length>this.length)
    	   			return false;
    	  		if(this.substr(0,s.length)==s)
    	     		return true;
    	  		else
    	     		return false;
        	}
			//当前浏览器地址栏的路径        	
            var d_url = window.location.pathname;
            $("a").each(function () {
            	//当前页面中配置的a标签的href属性的路径
                var v = $(this).attr("href");
            	if(d_url == '/tom/nmOrgInfo/detail/10086'){
            		if (d_url == v) {
	                    $(this).parents('.nav-item ').addClass("active open");
	                    $(".nav-link").append('<span class="selected"></span>');
	                }
            	}else if(d_url == '/ecg/examination/tjfx'){
            		if (d_url == v) {
	            		$(this).parents('.nav-item ').addClass("active open");
	                    $(".nav-link").append('<span class="selected"></span>');
            		}
            	}else{
	                var result = d_url.startWith(v);
	                if (d_url == v || result) {
	                    $(this).parents('.nav-item ').addClass("active open");
	                    $(".nav-link").append('<span class="selected"></span>');
	                }
            	}
            });
        });
    </script>

</html>