<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" th:fragment="sidebar-menu">

    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu  " id="sidebar-menu"
        data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">

        <li class="nav-item start">
            <a th:href="@{/tom/user/index}" class="nav-link nav-toggle">
                <i class="fa fa-home"></i>
                <span class="title">首页</span>
            </a>
        </li>
        <li class="nav-item start">
            <a th:href="@{/tom/study/remember}" class="nav-link nav-toggle">
                <i class="fa fa-calendar"></i>
                <span class="title">备忘录</span>
            </a>
        </li>

        <shiro:hasAnyPermissions name="study,tom">
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-book"></i>
                    <span class="title">学习</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <shiro:hasAnyPermissions name="tom,demo">
                        <li class="nav-item start">
                            <a th:href="@{/tom/study/example}" class="nav-link nav-toggle">
                                <i class="fa fa-stack-overflow"></i>
                                <span class="title">各种Demo</span>
                            </a>
                        </li>
                    </shiro:hasAnyPermissions>
                    <li class="nav-item">
                        <a th:href="@{/tom/study/code}" class="nav-link nav-toggle">
                            <i class="fa fa-th-list"></i>
                            <span class="title">各种截图</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/tom/study/mistake}" class="nav-link nav-toggle">
                            <i class="fa fa-bug"></i>
                            <span class="title">知识点及错误记录</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/tom/study/upload}" class="nav-link nav-toggle">
                            <i class="fa fa-upload"></i>
                            <span class="title">上传相关</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="fa fa-chrome"></i>
                            <span class="title">Js学习</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a th:href="@{/tom/study/simpleJs}" class="nav-link nav-toggle">
                                    <i class="fa fa-address-card"></i>
                                    <span class="title">Js基础笔记</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="fa fa-wrench"></i>
                            <span class="title">各种小工具</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a  th:href="@{/tom/study/demo/magnify_demo}" class="nav-link nav-toggle">
                                    <i class="fa fa-search-plus"></i>
                                    <span class="title">放大镜-magnify</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </shiro:hasAnyPermissions>

        <shiro:hasAnyPermissions name="tom">
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-bar-chart"></i>
                    <span class="title">统计图</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                        <li class="nav-item start">
                            <a th:href="@{/tom/statistics/chartZZ}" class="nav-link nav-toggle">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title">柱状图</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a th:href="@{/tom/statistics/chartBZ}" class="nav-link nav-toggle">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title">饼状图</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a th:href="@{/tom/statistics/chartZS}" class="nav-link nav-toggle">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title">走势图</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a th:href="@{/tom/statistics/chartMap}" class="nav-link nav-toggle">
                                <i class="fa fa-bar-chart"></i>
                                <span class="title">地图</span>
                            </a>
                        </li>
                </ul>
            </li>
        </shiro:hasAnyPermissions>
        <shiro:hasAnyPermissions name="tom,play">
            <li class="nav-item ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-gamepad"></i>
                    <span class="title">娱乐</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <shiro:hasAnyPermissions name="tom,game">
                        <li class="nav-item start">
                            <a target="_blank" th:href="@{/tom/game/saolei}" class="nav-link nav-toggle">
                                <i class="fa fa-smile-o"></i>
                                <span class="title">扫雷</span>
                            </a>
                        </li>
                        <li class="nav-item start">
                            <a target="_blank" th:href="@{/tom/game/draw}" class="nav-link nav-toggle">
                                <i class="fa fa-smile-o"></i>
                                <span class="title">涂鸦</span>
                            </a>
                        </li>
                    </shiro:hasAnyPermissions>
                    <li class="nav-item start">
                        <a th:href="@{/tom/study/socket}" class="nav-link nav-toggle">
                            <i class="fa fa-smile-o"></i>
                            <span class="title">聊天</span>
                        </a>
                    </li>
                </ul>
            </li>
        </shiro:hasAnyPermissions>


        <li class="nav-item ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-cogs"></i>
                <span class="title">系统管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <shiro:hasPermission name="tom">
                    <li class="nav-item start">
                        <a th:href="@{/tom/user/manage}" class="nav-link nav-toggle">
                            <i class="fa fa-user"></i>
                            <span class="title">账号管理</span>
                        </a>
                    </li>
                </shiro:hasPermission>
                <li class="nav-item start">
                    <a th:href="@{/tom/user/sys}" class="nav-link nav-toggle">
                        <i class="fa fa-file-text"></i>
                        <span class="title">系统说明</span>
                    </a>
                </li>
                <shiro:hasPermission name="tom">
                    <li class="nav-item">
                        <a th:href="@{/tom/study/col}" class="nav-link nav-toggle">
                            <i class="fa fa-columns"></i>
                            <span class="title">分类管理</span>
                        </a>
                    </li>
                </shiro:hasPermission>
            </ul>
        </li>
    </ul>

    <!-- END SIDEBAR MENU -->
    <script th:inline="javascript">
        var toggler = window.localStorage.getItem("toggler");
        if (toggler) {
            $("body").addClass("page-sidebar-closed");
            $("#sidebar-menu").addClass("page-sidebar-menu-closed");
        }
        jQuery(document).ready(function () {
        	String.prototype.startWith = function(s){
				if(s==null||s==""||this.length==0||s.length>this.length)
    	   			return false;
    	  		if(this.substr(0,s.length)==s)
    	     		return true;
    	  		else
    	     		return false;
        	}
			//当前浏览器地址栏的路径        	
            var d_url = window.location.pathname;
            $("a").each(function () {
            	//当前页面中配置的a标签的href属性的路径
                var v = $(this).attr("href");
            	if(d_url == '/tom/nmOrgInfo/detail/10086'){
            		if (d_url == v) {
	                    $(this).parents('.nav-item ').addClass("active open");
	                    $(".nav-link").append('<span class="selected"></span>');
	                }
            	}else if(d_url == '/ecg/examination/tjfx'){
            		if (d_url == v) {
	            		$(this).parents('.nav-item ').addClass("active open");
	                    $(".nav-link").append('<span class="selected"></span>');
            		}
            	}else{
	                var result = d_url.startWith(v);
	                if (d_url == v || result) {
	                    $(this).parents('.nav-item ').addClass("active open");
	                    $(".nav-link").append('<span class="selected"></span>');
	                }
            	}
            });
        });
    </script>

</html>